<div class="sidebar">
    <div class="profile">
        <img alt="Admin profile picture" height="50" src="https://storage.googleapis.com/a1aa/image/KUj1MjjwLPLjJxOFjEQSPmY03KnkXnfReeKqSkGcqBoytF1nA.jpg" width="50"/>
        <span><%- user?.nama_karyawan || "Tamu" -%></span>
    </div>
    <ul class="menu">
        <%if(locals.user){ %>
            <li><a class="<%= title == 'Dashboard' ? 'active' : '' %>" href="/dashboard"><i class="fa-solid fa-circle-dot"></i> Dashboard</a></li>
            <li><a class="<%= title == 'Loyalitas' ? 'active' : '' %>" href="/program-loyalitas"><i class="fa-solid fa-circle-dot"></i> Program Loyalitas</a></li>
            <li><a class="<%= title == 'Data Transaksi' ? 'active' : '' %>" href="/data-transaksi"><i class="fa-solid fa-circle-dot"></i> Data Transaksi</a></li>
            <li><a class="<%= title == 'Data Pelanggan' ? 'active' : '' %>" href="/data-pelanggan"><i class="fa-solid fa-circle-dot"></i> Data Pelanggan</a></li>
            <li><a class="<%= title == 'Data Menu' ? 'active' : '' %>" href="/data-menu"><i class="fa-solid fa-circle-dot"></i> Data Menu</a></li>
            <li><a class="<%= title == 'Data Karyawan' ? 'active' : '' %>" href="/data-karyawan"><i class="fa-solid fa-circle-dot"></i> Data Karyawan</a></li>
            <li><a class="<%= title == 'Keluar' ? 'active' : '' %>" href="/logout"><i class="fas fa-door-closed"></i> Keluar</a></li>
        <% } %>
        <li><a class="<%= title == 'Transaksi' ? 'active' : '' %>" href="/kasir"><i class="fas fa-cash-register"></i> Kasir</a></li>
        <%if(!locals.user){ %>
            <li><a class="<%= title == 'Login' ? 'active' : '' %>" href="/logout"><i class="fas fa-door-open"></i> Login</a></li>
        <% } %>
    </ul>
</div>