<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <%- include('../partials/sidebar.ejs'); %>
    <div class="main-content">
        <%- include('../partials/header.ejs') %>
        <main class="h-full">
            <%- body %>
                
        </main>
    </div>
    <div class="fixed-bottom">
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>